Repository sverweij/virtual-code-owners, changes with the labels that .github/labeler.yml gives for each.
All labels: vco, vco-admins, tools, admin, documentation

fix(test): removes unused import
  src/parse-virtual-code-owners.test.ts
Labels: vco

refactor: splits off virtual code owners anomaly processing code
  src/parse-virtual-code-owners.test.ts
  src/parse-virtual-code-owners.ts
  src/read-virtual-code-owners.ts
  src/virtual-code-owners-anomalies.test.ts
  src/virtual-code-owners-anomalies.ts
Labels: vco

refactor: splits off virtual code owners anomaly processing code (#123)
  src/parse-virtual-code-owners.test.ts
  src/parse-virtual-code-owners.ts
  src/read-virtual-code-owners.ts
  src/virtual-code-owners-anomalies.test.ts
  src/virtual-code-owners-anomalies.ts
Labels: vco

refactor: moves labeler.yml related sources to their own folder
  dist/labeler-yml/generate.js
  dist/main.js
  src/labeler-yml/__fixtures__/labeler.yml
  src/labeler-yml/__mocks__/VIRTUAL-CODEOWNERS.txt
  src/labeler-yml/__mocks__/virtual-teams.yml
  src/labeler-yml/generate.test.ts
  src/labeler-yml/generate.ts
  src/main.ts
Labels: vco

refactor: moves CODEOWNERS related sources to their own folder
  dist/codeowners/generate.js
  dist/main.js
  src/__fixtures__/corpus/empty-teams/000-empty.txt
  src/__fixtures__/corpus/empty-teams/000-empty.yml
  src/__fixtures__/corpus/empty-teams/001-comment.txt
  src/__fixtures__/corpus/empty-teams/001-comment.yml
  src/__fixtures__/corpus/empty-teams/002-ignorable-comment.txt
  src/__fixtures__/corpus/empty-teams/002-ignorable-comment.yml
  src/__fixtures__/corpus/empty-teams/003-unparsable-line.txt
  src/__fixtures__/corpus/empty-teams/003-unparsable-line.yml
  src/__fixtures__/corpus/empty-teams/010-rule-other-user.txt
  src/__fixtures__/corpus/empty-teams/010-rule-other-user.yml
  src/__fixtures__/corpus/empty-teams/011-rule-e-mail-user.txt
  src/__fixtures__/corpus/empty-teams/011-rule-e-mail-user.yml
  src/__fixtures__/corpus/empty-teams/012-rule-invalid-user.txt
  src/__fixtures__/corpus/empty-teams/012-rule-invalid-user.yml
  src/__fixtures__/corpus/empty-teams/013-rule-with-inline-comment.txt
  src/__fixtures__/corpus/empty-teams/013-rule-with-inline-comment.yml
  src/__fixtures__/corpus/empty-teams/014-rule-with-non-space-sepped-inline-comment.txt
  src/__fixtures__/corpus/empty-teams/014-rule-with-non-space-sepped-inline-comment.yml
  src/__fixtures__/corpus/teams/020-rule-virtual-team.txt
  src/__fixtures__/corpus/teams/020-rule-virtual-team.yml
  src/__fixtures__/corpus/teams/021-rule-multiple-teams.txt
  src/__fixtures__/corpus/teams/021-rule-multiple-teams.yml
  src/__fixtures__/corpus/teams/030-the-kitchen-sink.yml
  src/codeowners/__fixtures__/CODEOWNERS
  src/codeowners/__mocks__/VIRTUAL-CODEOWNERS.txt
  src/codeowners/__mocks__/virtual-teams.yml
  src/codeowners/generate.test.ts
  src/codeowners/generate.ts
  src/main.ts
Labels: vco

chore: cleans up unused mocks & fixtures
  src/virtual-code-owners/__fixtures__/CODEOWNERS
  src/virtual-code-owners/__fixtures__/labeler.yml
  src/virtual-code-owners/__mocks__/VIRTUAL-CODEOWNERS.txt
  src/virtual-code-owners/__mocks__/erroneous-virtual-codeowners.txt
  src/virtual-code-owners/__mocks__/erroneous-virtual-teams.yml
  src/virtual-code-owners/__mocks__/virtual-teams.yml
Labels: vco

refactor: moves virtual-teams/ team-map related sources to their own folder
  dist/main.js
  dist/team-map/read.js
  src/codeowners/generate.test.ts
  src/labeler-yml/generate.test.ts
  src/main.ts
  src/team-map/read.ts
Labels: vco

chore(tools): lets the test reporter also emit stdout/ stderr
  tools/dot-with-summary.reporter.js
Labels: vco, vco-admins, tools

chore: replaces 'ts-node' with 'tsx'
  .github/workflows/ci.yml
  package-lock.json
  package.json
  tsconfig.json
Labels: vco, vco-admins, admin

chore: replaces 'ts-node' with 'tsx' (#125)
  .github/workflows/ci.yml
  package-lock.json
  package.json
  tsconfig.json
Labels: vco, vco-admins, admin

build(npm): updates external devDependencies
  package-lock.json
  package.json
Labels: vco

refactor: splits off 'main' code from the cli
  .lintstagedrc.json
  dist/cli.js
  dist/main.js
  dist/run-cli.js
  package.json
  src/cli.test.ts
  src/cli.ts
  src/main.ts
  src/run-cli.ts
  types/cli.d.ts
  types/generate-labeler-yml.d.ts
Labels: vco, documentation

refactor: splits type definitions in separate files
  src/cli.ts
  src/codeowners/generate.test.ts
  src/codeowners/generate.ts
  src/labeler-yml/generate.test.ts
  src/labeler-yml/generate.ts
  src/main.ts
  src/team-map/read.ts
  src/virtual-code-owners/anomalies.test.ts
  src/virtual-code-owners/anomalies.ts
  src/virtual-code-owners/parse.ts
  src/virtual-code-owners/read.ts
  types/anomaly.d.ts
  types/cli.d.ts
  types/main.d.ts
  types/team-map.d.ts
  types/types.d.ts
  types/virtual-code-owners-cst.d.ts
Labels: vco, documentation

refactor: moves types as close to where they define the interfaces as possible
  dist/cli.js
  package.json
  src/cli.ts
  src/codeowners/generate.test.ts
  src/codeowners/generate.ts
  src/labeler-yml/generate.test.ts
  src/labeler-yml/generate.ts
  src/main.ts
  src/team-map/read.ts
  src/team-map/team-map.d.ts
  src/virtual-code-owners/anomalies.test.ts
  src/virtual-code-owners/anomalies.ts
  src/virtual-code-owners/cst.d.ts
  src/virtual-code-owners/parse.ts
  src/virtual-code-owners/read.ts
  tools/dependency-cruiser-config/options.yml
  types/anomaly.d.ts
  types/cli.d.ts
  types/generate-codeowners.d.ts
  types/generate-labeler-yml.d.ts
  types/main.d.ts
  types/parse-virtual-code-owners.d.ts
  types/types.d.ts
Labels: vco, vco-admins, tools, documentation

test: adds unit test for utensils
  src/utensils.test.ts
Labels: vco

.github/labeler.yml:

#
# DO NOT EDIT - this file is generated and your edits will be overwritten
#
# To make changes:
#
#   - edit .github/VIRTUAL-CODEOWNERS.txt
#   - and/ or add teams (& members) to .github/virtual-teams.yml
#   - run 'npx virtual-code-owners --emitLabeler'
#

vco:
  - "**"
  - types/**
  - README.md

vco-admins:
  - .github/**
  - tools/**

tools:
  - tools/**

admin:
  - .github/**

documentation:
  - types/**
  - README.md
