Repository sverweij/virtual-code-owners, pull requests merged in 2023-06, with the labels that each got.

#85 chore(ci): adds labeler worflow
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: vco-admins, vco

#87 chore(ci): formats labeler.yml
  .github/labeler.yml
Labels: vco-admins, vco

#86 feat: adds actions/labeler labeler.yml generator
  .lintstagedrc.json
  README.md
  dist/generate-codeowners.js
  dist/generate-labeler-yml.js
  dist/main.js
  dist/parse-and-generate.js
  dist/read-team-map.js
  dist/read-virtual-code-owners.js
  src/__fixtures__/labeler.yml
  src/generate-codeowners.spec.ts
  src/generate-codeowners.ts
  src/generate-labeler-yml.spec.ts
  src/generate-labeler-yml.ts
  src/main.spec.ts
  src/main.ts
  src/parse-and-generate.spec.ts
  src/parse-and-generate.ts
  src/read-team-map.ts
  src/read-virtual-code-owners.ts
Labels: vco

#88 feat: adds validation feedback on virtual-code-owners.txt files
  README.md
  dist/main.js
  dist/parse.js
  src/__mocks__/erroneous-virtual-codeowners.txt
  src/main.spec.ts
  src/main.ts
  src/parse.spec.ts
  src/parse.ts
  types/types.d.ts
Labels: vco

#89 feat(labeler.yml): adds a 'this file is generated' warning comment
  .github/CODEOWNERS
  .github/labeler.yml
  dist/generate-codeowners.js
  dist/generate-labeler-yml.js
  src/__fixtures__/CODEOWNERS
  src/generate-codeowners.ts
  src/generate-labeler-yml.spec.ts
  src/generate-labeler-yml.ts
Labels: vco-admins, vco

#90 refactor: re-organizes main
  dist/cli.js
  dist/main.js
  dist/read-virtual-code-owners.js
  src/cli.ts
  src/main.spec.ts
  src/main.ts
  src/read-virtual-code-owners.ts
Labels: vco

#91 fix(generate-labeler-yml): emits " instead of ' to escape * in output
  dist/generate-labeler-yml.js
  src/generate-labeler-yml.spec.ts
  src/generate-labeler-yml.ts
Labels: vco

#93 feat: adds dry run option
  README.md
  dist/main.js
  src/main.spec.ts
  src/main.ts
Labels: documentation, vco

#94 feat: sorts user names case insensitively
  dist/generate-codeowners.js
  src/generate-codeowners.spec.ts
  src/generate-codeowners.ts
Labels: vco

#95 refactor(test): uses new URL canonically
  src/generate-codeowners.spec.ts
  src/generate-labeler-yml.spec.ts
  src/parse-virtual-code-owners.spec.ts
Labels: vco
